@charset "UTF 8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: blue;
    grid-row: 1 /2;
    grid-column: 1 /-1 ;
}

.caixa2 {
    background-color: red;
    grid-row: 2 /4;
    grid-column: 1 /span 2;
}
.caixa3 {
    background-color: green;
    grid-row: 2 /4;
    grid-column: 3 /-1;
}