@charset "UTF 8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 5;
}

.caixa2 {
    background-color: red;
    grid-area: 2 /1 / span 2 / span 2;
}
.caixa3 {
    background-color: green;
    grid-area: 2 / 3 / -1/ -1;
}